In [2]:
from sklearn import datasets
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv('Iris.csv')

print(data.head(5))

plt.show()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
pd.isna(data)

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [6]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [7]:
X=data[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]

In [12]:
Y=data.iloc[0:149,5]

In [13]:
data.shape

(150, 6)

In [14]:
training=data[0:90]
testing=data[90:]

In [15]:
print(training.shape)
print(testing.shape)

(90, 6)
(60, 6)

In [16]:
print("Total Null values count: ",
      data.isnull().sum().sum())

Total Null values count:  0

In [17]:
from sklearn.model_selection import train_test_split

X=data[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]

y=data.iloc[0:150,5]

  

print("\nFirst 4 rows of train:\n", X)
print("\n last 1 row for test:\n", y)

X_train,X_test,y_train,y_test = train_test_split(X.index,y,test_size=0.4)

First 4 rows of train:
      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

 last 1 row for test:
 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [18]:
X.iloc[X_train]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
2              4.7           3.2            1.3           0.2
31             5.4           3.4            1.5           0.4
9              4.9           3.1            1.5           0.1
33             5.5           4.2            1.4           0.2
80             5.5           2.4            3.8           1.1
..             ...           ...            ...           ...
113            5.7           2.5            5.0           2.0
28             5.2           3.4            1.4           0.2
43             5.0           3.5            1.6           0.6
13             4.3           3.0            1.1           0.1
27             5.2           3.5            1.5           0.2

[90 rows x 4 columns]

In [19]:
print(X_train)

Int64Index([  2,  31,   9,  33,  80, 103,  61,  45, 126,  62,  93,  72,  49,
            139,  67,  83,  63,  46,  92, 120,  81, 140,  34,   3,  69, 143,
             60,  82, 147, 105, 141,  10, 129,  54, 116, 104,   0,  68, 117,
             44,  71,  23,  30,   4, 123,  98,   6, 114, 109,  95, 106,  20,
             48, 133,  74,  15, 111,  36, 137,  88, 145, 102, 138, 127, 142,
            148, 146, 125,  14, 149,  39,  70,   5,   7,  89,  29,  41,  16,
            128,   1,  40, 124, 136,  51,  17, 113,  28,  43,  13,  27],
           dtype='int64')

In [20]:
print(y_test.shape)

(60,)

In [21]:
data = pd.read_csv('Iris.csv')

print(data.head(5))

plt.show()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [63]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
iris = pd.read_csv("iris.csv")
#Drop id column
iris = iris.drop('Id',axis=1)
X = iris.iloc[:, :-1].values
y = iris.iloc[:, 3].values
#Split arrays or matrices into random train and test subsets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)
'''
print("\n70% train data:")
print(X_train)
print(y_train)
print("\n30% test data:")
print(X_test)
print(y_test)
'''

'\nprint("\n70% train data:")\nprint(X_train)\nprint(y_train)\nprint("\n30% test data:")\nprint(X_test)\nprint(y_test)\n'

In [66]:
#Create KNN Classifier
#Number of neighbors to use by default for kneighbors queries.
knn = KNeighborsClassifier(n_neighbors=3)
#Train the model using the training sets
knn.fit(X_train, y_train)
#Predict the response for test dataset
print("Response for test dataset:")
y_pred = knn.predict(X_test)
print(y_pred)

ValueError: Unknown label type: 'continuous'

In [65]:
y_test

array([2.1, 2. , 0.4, 0.2, 1.3, 1.3, 0.3, 0.3, 2. , 0.2, 0.4, 0.1, 0.3,
       1.9, 0.2, 2.4, 1. , 2.1, 1. , 2.1, 1.8, 2.4, 0.3, 1.5, 2. , 1.6,
       2. , 1.8, 1.5, 2.1, 0.2, 1. , 0.2, 0.2, 1. , 0.2, 1.3, 0.1, 2. ,
       0.2, 1.4, 0.2, 1.1, 2.5, 0.2])

In [59]:
data = pd.read_csv('marks.csv')
print(data.head(5))
plt.show()

   Id  Maths  Cs Result
0   1      4   3      p
1   2      6   7      p
2   3      7   8      p
3   4      5   5      p
4   5      8   8      p

In [92]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
marks = pd.read_csv("marks.csv")
#marks = marks.drop('Id',axis=1)
X = marks.iloc[:,0:1].values
y = marks.iloc[:, 3].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
'''
print("\n70% train data:")
print(X_train)
print(y_train)
print("\n20% test data:")
print(X_test)
print(y_test)
'''

'\nprint("\n70% train data:")\nprint(X_train)\nprint(y_train)\nprint("\n20% test data:")\nprint(X_test)\nprint(y_test)\n'

In [93]:

knn = KNeighborsClassifier(n_neighbors=3)

knn.fit(X_train, y_train)

print("Response for test dataset:")
y_pred = knn.predict(X_test)

Response for test dataset:

In [94]:
print(y_pred)

['p' 'p']

In [115]:
a=int(input("enter number for a"))
b=int(input("enter number for b"))

enter number for a 0
enter number for b 0

w1=0.1
w2=0.2
1st=(a*w1)
print(1st)

In [116]:
w1=0.1
w2=0.2

In [117]:
res=w1*a+w2*b

print(res)

0.0

In [120]:
if res>1.5:
    print("action")
elif  res<1.5:
    print("no action")

no action